@charset "UTF-8";
body {
    width: 100%;
    font-family: 'Karla', 'Source Sans Pro', 'NotoSansCJKjp', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif; 
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #000;
}

/*背景画像の設定*/
#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://github.com/unesaki/portfolio/blob/main/back-image.jpg?raw=true
);
    z-index: -1;
}


header {
    width: 100%;
}

/*メイン画像を横幅１００％に*/
#main-image img {
    width: 100%;
}

/*メイン画像を基準に*/
#main-image {
    position: relative;
}

/*メイン画像に対して相対的な位置を書く*/
#h2-1 {
    position: fixed;
    font-size: 1.8em;
    font-weight: bold;
    bottom: 820px;
    right: 35px;
    letter-spacing: 0.2em;
}

#h2-2 {
    position: fixed;
    font-size: 1.8em;
    font-weight: bold;
    writing-mode: vertical-rl;
    bottom: 700px;
    right: 26px;
    letter-spacing: 0.2em;
    z-index: 10;
}

#contents {
    width: 100%;
    margin: 0 0 70px 0;
    text-align: center;
    font-size: 1.3rem;
    background: #fff;
}

/*見出し*/
#contents h2 {
    position: relative;
    padding: 50px 0 60px 0;
    font-size: 1em;
    font-weight: bold;
    color: #000;
    margin-top: -10px;
}/*ここまで見出し*/

/*works下線*/
#contents h2:after {
    display: block;
    position: absolute;
    left: 50%;
    width: 30px;
    margin: 10px 0 0 -15px;
    border-bottom: 2px solid #000;
    content: "";
}
 /*ここまで下線*/

  /*moreボタン*/
  .anm-btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background: #333;
    padding: 15px 27px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: .3s;
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .anm-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 3px solid #333;
    border-radius: 6px;
    box-sizing: border-box;
    z-index: -1;
    transform: scale(0.8);
    opacity: 0;
    transition: transform ease .3s, opacity .3s;
  }
  .anm-btn:hover {
    color: #333;
    background: transparent;
  }
  .anm-btn:hover::before {
    transform: scale(1);
    opacity: 1;
  }
  /*ここまでmoreボタン*/

/*worksの全体のdiv*/
  #work-contents {
      width: 600px;
      margin: 0 auto;
      position: relative;
  }

/*コンテンツ画像１*/
.image_link{
    margin-left: 30px;
    position: relative;
    display:block;
    height:auto;
    width: 250px;
}

.image_link img{
    display:block;
}

.image_link:before{
    content:"";
    display:block;
    width:250px;
    height:100%;
    position:absolute;
    z-index:2;
    background:#000;/*好みの色に変えてください。*/
    opacity:0;
    transition:0.3s;
}
  
.image_link:hover:before{
    opacity:0.2;
}/*ここまでコンテンツ画像１*/

/*コンテンツ画像１の説明文*/
#ty {
    font-size: 10px;
    position: absolute;
    left: 40px;
    top: 155px;
    color: #383838;
}


/*コンテンツ画像２*/
.image_link2{
    position:relative;
    display:block;
    height:auto;
    width: 250px;
    left: 52.5%;
    bottom: 175px;
}
  
.image_link2 img{
    display:block;
}

.image_link2:before{
    content:"";
    display:block;
    width:250px;
    height:100%;
    position:absolute;
    z-index:2;
    background:#000;/*好みの色に変えてください。*/
    opacity:0;
    transition:0.3s;
}

.image_link2:hover:before{
    opacity:0.2;
}
/*ここまでコンテンツ画像２*/

/*コンテンツ画像2の説明文*/
#ca {
    font-size: 10px;
    position: absolute;
    left: 325px;
    top: 155px;
    color: #383838;
}

/*コンテンツ画像3*/
.image_link3{
    position:relative;
    display:block;
    height:auto;
    width: 250px;
    margin: 0 auto;
    margin-top: -150px;
}
  
.image_link3 img{
    display:block;
}

.image_link3:before{
    content:"";
    display:block;
    width:250px;
    height:100%;
    position:absolute;
    z-index:2;
    background:#000;/*好みの色に変えてください。*/
    opacity:0;
    transition:0.3s;
}

.image_link3:hover:before{
    opacity:0.2;
}
/*ここまでコンテンツ画像3*/

/*コンテンツ画像3の説明文*/
#to {
    font-size: 10px;
    position: absolute;
    left: 190px;
    bottom: 5px;
    color: #383838;
}


#work2 {
    display: inline-block;
}

#work2 img {
    width: 250px;
}

#work2 p {
    font-size: 10px;
    color: #383838;
}

#contents img {
    width: 250px;
}

.profile {
    float: left;
    width: 50%;
    background-color: #fff;
    padding-bottom: 67.5px;
}

.profile-right {
    float: left;
    width: 50%;
    background-color: #fff;
}

.main {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.sub {
    font-size: 10px;
    font-weight: 600;
}

.profile-right p {
    font-size: 15px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
}

#contact p {
    font-size: 12px;
    font-weight: 500;
}

#contact {
    padding-bottom: 50px;
}

footer {
    text-align: center;
    margin-top: -55px;
    margin-bottom: 10px;
}


/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50px;
    top: 45px;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 11px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 11px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
/* メニューのデザイン*/
.nav_content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: rgba(110, 110, 110, 0.7);
    transition: .5s;
    text-align: center;
    padding-top: 20px;
  }
  
  
  /* メニュー黒ポチを消す */
  .nav_list {
    list-style: none;
  }

  .nav_item {
      margin-top: 20px;
  }
  
  .nav_item a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
    right: 70%;
  }

  /*レスポンシブ*/

  @media screen and (max-width: 480px) {
      
    /*背景画像の設定*/
    #bg {
        position: fixed;
        width: 100%;
        height: 100%;
        background: url(images/back-image.jpg);
        z-index: -1;
    }

    header {
        width: 100%;
    }

    /*メイン画像に対して相対的な位置を書く*/
    #h2-1 {
        position: fixed;
        font-size: 1em;
        font-weight: bold;
        top: 15px;
        right: 5%;
        letter-spacing: 0.1em;
    }

    #h2-2 {
        position: fixed;
        font-size: 1em;
        font-weight: bold;
        writing-mode: vertical-rl;
        top: 34px;
        right: 4%;
        letter-spacing: 0.2em;
        z-index: 10;
    }

    /*worksの全体のdiv*/
    #work-contents {
        width: 80%;
        margin: 0 auto;
    }

    /*コンテンツ画像１*/
    .image_link{
        margin: 0 auto;
        display: block;
        height: auto;
        width: 250px;
        margin-bottom: 20px;
    }

    /*コンテンツ画像１の説明文*/
    #ty {
        font-size: 8px;
        position: absolute;
        left: 50px;
        top: 155px;
    }

    /*コンテンツ画像２*/
    .image_link2{
        margin: 0 auto;
        display: block;
        height: auto;
        width: 250px;
        left: 0;
        bottom: 0;
        margin-bottom: 20px;
    }

    #ca {
        font-size: 8px;
        position: absolute;
        left: 50px;
        top: 350px;
    }

    .image_link3{
        margin: 0 auto;
        display:block;
        height:auto;
        width: 250px;
        margin-bottom: 20px;
    }

    #to {
        font-size: 8px;
        position: absolute;
        left: 50px;
        top: 545px;
    }

    .profile {
        float: none;
        width: 100%;
        background-color: #fff;
        padding-bottom: 30px;
        
    }
    
    .profile-right {
        float: none;
        width: 100%;
        background-color: #fff;
    }
    
    .main {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    .sub {
        font-size: 8px;
        font-weight: 600;
    }
    
    .profile-right p {
        font-size: 12px;
        text-align: left;
        margin-bottom: 50px;
    }

    section#about h2 {
        margin-bottom: -25px;
    }

    #contact {
        padding-bottom: 10px;
    }

        /* ハンバーガーメニューのアイコン */
    .drawer_open span,
    .drawer_open span:before,
    .drawer_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 30px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }

    .drawer_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 10%;
        top: 45px;
        z-index: 100;/* 重なり順を一番上にする */
        cursor: pointer;
      }
    
    /* 三本線の一番上の棒の位置調整 */
    .drawer_open span:before {
        bottom: 10px;
    }
    
    /* 三本線の一番下の棒の位置調整 */
    .drawer_open span:after {
        top: 10px;
    }

    .nav_item a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
      }

      .nav_list {
        list-style: none;
        margin-top: 60px;
      }
  }
